<launch>
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration"              value="true" />
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false" />
    <arg name="depth_processing"                value="false" />
    <arg name="depth_registered_processing"     value="true" />
    <arg name="disparity_processing"            value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="sw_registered_processing"        value="false" />
    <arg name="hw_registered_processing"        value="true" />
  </include>
  <node pkg="SSL_Linear" type="RGBD" name="RGBD" args="$(find SSL_Linear)/Vocabulary/ORBvoc.txt $(find SSL_Linear)/config/kinect_settings.yaml" output="screen"> 
  </node>
</launch>
