<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="image" />
    <param name="io_method" value="mmap"/>
    <remap from="usb_cam/image_raw" to="/camera/image_raw" />
  </node>
  <node pkg="SSM_LinearArray" type="Mono" name="Mono" args="$(find SSM_LinearArray)/Vocabulary/ORBvoc.txt $(find SSM_LinearArray)/config/ps3eye_settings.yaml" output="screen"> 
  </node>
  <node name="ps3_driver" pkg="SSM_LinearArray" type="ps3_driver.py" />
  <node name="ps3_srp_phat_fd" pkg="SSM_LinearArray" type="ps3_srp_phat_fd">
  </node>
  <node name="ps3_srp_phat_fd_gui" pkg="SSM_LinearArray" type="ps3_srp_phat_fd_gui.py" />
</launch>
